<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyEntrepot.Properties.Settings.NicaIIConnectionString"
            connectionString="Data Source=yew.arvixe.com;Initial Catalog=NicaII;Persist Security Info=True;User ID=roberto;Password=12345ROb"
            providerName="System.Data.SqlClient" />
        <add name="MyEntrepot.Properties.Settings.nicaraguaConnectionString"
            connectionString="Data Source=yew.arvixe.com;Initial Catalog=nicaragua;Persist Security Info=True;User ID=roberto;Password=12345ROb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>